<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spider.media.system.mapper.SysUserRoleMapper">

    <select id="selectByUserId" resultType="com.spider.media.system.entity.SysUserRole">
        SELECT user_id AS userId, role_id AS roleId FROM sys_user_role WHERE user_id = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO sys_user_role (user_id, role_id) VALUES (#{userId}, #{roleId})
    </insert>

    <delete id="deleteByUserId">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>

</mapper>
